name: Test R-universe

on:
  push:
    branches:
      - main
  pull_request:

concurrency: ${{ github.workflow }}

jobs:
  build:
    name: R-universe testing
    uses: r-universe-org/workflows/.github/workflows/build.yml@v3
    with:
      universe: ${{ github.repository_owner }}
